[submodule "quantile_normalize"]
	path = quantile_normalize
	url = git@github.com:andrewdyates/quantile_normalize.git
[submodule "geo_api"]
	path = geo_api
	url = git@github.com:andrewdyates/geo_api.git
[submodule "lab_util"]
	path = lab_util
	url = git@github.com:andrewdyates/lab_util.git
[submodule "matrix_io"]
	path = matrix_io
	url = git@github.com:andrewdyates/matrix_io.git
